################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Card-Creation-Website/FileContentIndex
/.vs/Card-Creation-Website/v17/.suo
/Card-Creation-Website/bin/Debug/net8.0
/Card-Creation-Website/obj/Debug/net8.0
/.vs/Card-Creation-Website/v17/.suo
/Card-Creation-Website/obj/Debug/net8.0/Card-Creation-Website.AssemblyInfoInputs.cache
/Card-Creation-Website/obj/Debug/net8.0/Card-Creation-Website.AssemblyInfo.cs
/.vs/Card-Creation-Website/v17/DocumentLayout.json
/.vs/Card-Creation-Website/DesignTimeBuild/.dtbcache.v2