<!-- Card_Creation_Website.Models.Card -->
@model Card_Creation_Website.Models.CombinedModel

@{
    ViewData["Title"] = "CreateCard";
}

<h1>Create Card</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCard">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CardModel.CardName" class="control-label"></label>
                <input asp-for="CardModel.CardName" class="form-control" />
                <span asp-validation-for="CardModel.CardName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardModel.CardDescription" class="control-label"></label>
                <input asp-for="CardModel.CardDescription" class="form-control" />
                <span asp-validation-for="CardModel.CardDescription" class="text-danger"></span>
            </div>
            <div>
                <label class="control-label">Card Image</label>
                <input class="form-control" type="file" name="CardImage" accept=".jpg, .jpeg, .png">
                <!-- <input asp-for="CardImage" class="form-control" /> -->
                <!-- <span asp-validation-for="CardImage" class="text-danger"></span> -->
            </div>
            <div class="form-group">
                <label asp-for="CardModel.CardType" class="control-label"></label>
                <input asp-for="CardModel.CardType" class="form-control" />
                <span asp-validation-for="CardModel.CardType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardModel.CardEffect" class="control-label"></label>
                <input asp-for="CardModel.CardEffect" class="form-control" />
                <span asp-validation-for="CardModel.CardEffect" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardModel.SpellType" class="control-label"></label>
                <input asp-for="CardModel.SpellType" class="form-control" />
                <span asp-validation-for="CardModel.SpellType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardModel.Rarity" class="control-label"></label>
                <input asp-for="CardModel.Rarity" class="form-control" />
                <span asp-validation-for="CardModel.Rarity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardModel.ElementalType" class="control-label"></label>
                <input asp-for="CardModel.ElementalType" class="form-control" />
                <span asp-validation-for="CardModel.ElementalType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardModel.Attack" class="control-label"></label>
                <input asp-for="CardModel.Attack" class="form-control" />
                <span asp-validation-for="CardModel.Attack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardModel.Defense" class="control-label"></label>
                <input asp-for="CardModel.Defense" class="form-control" />
                <span asp-validation-for="CardModel.Defense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardModel.Health" class="control-label"></label>
                <input asp-for="CardModel.Health" class="form-control" />
                <span asp-validation-for="CardModel.Health" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardModel.Cost" class="control-label"></label>
                <input asp-for="CardModel.Cost" class="form-control" />
                <span asp-validation-for="CardModel.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardModel.SerialNumber" class="control-label"></label>
                <input asp-for="CardModel.SerialNumber" class="form-control" />
                <span asp-validation-for="CardModel.SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexCard">Back to Card Collection</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
